@tailwind base; 
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes ping-border {
    0% {
      transform:  scale(0.5);
      opacity: 1;
    }
    75% {
      transform: scale(2.5);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-ping-border {
    animation: ping-border 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
}


.glow-on-hover:before {


  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  filter: blur(4px);
  z-index:-1;

  width: calc(100% + 4px);
  height: calc(100% + 4px);


  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  background-size: 700%;
  
}


.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: calc(100%);
  height: calc(100% );
  background: rgb(40 44 52);
  left: 0;
  top: 0;
  border-radius: 10%;
}


@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}